body { margin:0; padding:0; }
#map { position:absolute; top:0; bottom:0; width:100%; }
#sw { position:absolute; bottom:5px; right:5px; width: 100px; height: 70px; border: 1px solid black; }
.mygt { background: #33cc33; border-radius: 5px; margin: 5px; cursor: pointer; padding: 10px; line-height: 3em; }
.mygt:hover { background: #44dd44; }
.mygtm { margin: 2px; padding: 2px; border-radius: 2px; line-height: normal; }
.mygtfoot { background: #7777dd; }
.mygtbike { background: #77dddd; }
.mygtcar { background: #dd77dd; }
.mygtoffroad { background: #4444dd; }
.mygtisj { background: #999999; }
.mygtukas { background: white; padding: 5px; position: absolute; cursor: pointer; }
#i_prideti_taska { top: 10px; right: 10px; }
#i_prideti_marsruta { top: 50px; right: 10px; }
#i_savybes, #i_marsrutas { position: absolute; left: 0px; bottom: 35px; background: white; display: none; border: 1px solid lightgray; border-radius: 5px; padding: 5px; font-size: small;}
#i_version { position: absolute; left: 4px; bottom: 21px; z-index: 1; font-size: xx-small; }
#i_tasko_koordinates { position: absolute; left: 50px; top: 10px; z-index: 1; background: white; padding: 10px; display: none; }
#i_marsrutu_sarasas { position: absolute; left: 50px; top: 200px; z-index: 1; background: white; padding: 10px; display: none; }
#i_irasyti_marsruta { display: none; }
#i_keisti_pavadinima { top: 10px; left: 50px; position: absolute; display: none; }
.hover { cursor: pointer; }
.hover:hover { background: #eeeeaa; }
#i_settings_dialog { position: absolute; top: 50px; left: 50px; display: none; background: white; padding: 20px; }
#i_dialogas { position: absolute; top: 50px; left: 50px; display: none; background: white; padding: 20px; }
.sarasoElementas:hover { background: black; color: white; }
.sarasoElementas { padding: 5px; cursor: pointer; }
.taskuZymeklis { width: 100px; }
.taskuEtiketes { text-shadow: -1px 0px white,
                              -1px -1px white,
                              -1px 1px white,
                              0px -1px white,
                              0px 1px white,
                              1px 1px white,
                              1px 0px white,
                              1px -1px white;
                width: 100px;
                text-align: center;
                color: black;
}
.marsrutuSarasoElementas { padding-top: 5px; padding-bottom: 5px; }
.material-icons { font-size: 18px; }
.login-div {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #ffffffee;
  z-index: 2;
}
.login-content {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}
#i_loading { position: absolute; top: 50px; left: 50px; display: none; background: yellow; padding: 20px; }
